@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Passion+One&family=Patua+One&family=Special+Elite&display=swap');

html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'BREE SERIF';
    padding: 0 50px;
}

header .name{
margin: 10px;
padding: 10px;
}

header .nav ul{
    display: flex;
    flex-direction: row;
}

header .nav ul li{
    list-style-type: none;
    padding: 0 20px;
}

header .nav ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 10px;
}

.profile{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(back_profilr.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'bree serif';
}

.profile .img {
    padding: 10px;
}
.profile .img img{
    width: 380px;
    height: 380px;
        border-radius: 50%;
    border: 2px solid black;
}

.profile .content{
    padding: 20px;
    min-width: none;
    max-width: 380px;
    font-family: 'BREE SERIF';
}

.profile .content .skill{
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.profile .content .skill .box {
    padding: 30px;
    margin-right: 22px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    min-width: 10px;
    max-width: 100px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition-duration: 0.3s;
}

.profile .content .skill .box:hover{
box-shadow: none;
background-color: black;
color: white;
text-shadow: 2px 0 20px gold;
border: 5px solid rgb(255, 217, 0);
transition: 0.5s;
}

.about{
    padding: 100px 377px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: 'bree serif';
    background-repeat: no-repeat;
    background-size: cover;

}
.education{
    background-color: rgb(33, 33, 33);
    padding: 20px;
    color: aliceblue;
    font-family: 'bree serif';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.education h2{
    font-size: 35px;
    color: bisque;
    margin: 0 100px;
}

.education .list{
    color: gold;
    padding-left: 20px;
    border-left: 5px solid crimson;
    margin-left: 20px;
}
.education .list ul li{
    padding: 10px;
    margin-top: 10px;
}

footer{
    font-family: 'BREE SERIF';
    color: floralwhite;
    background-color: rgb(35, 35, 35);
    padding: 10px;
    margin: 0;
    text-align: center;
}
